@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  /* border: 1px solid white; */
}

/* CSS variables */
:root {
  --mainBackground: rgb(6, 22, 32);
  --textColor: rgb(44, 129, 179);
  --themeColor: (31, 86, 225);
  --contentColor: rgb(221, 221, 221);
}
.main-wrapper {
  max-width: 110rem;
  /* border: solid red; */
  border-right: 1px solid white;
  margin: auto;
}
body {
  background-color: var(--mainBackground);
}
span {
  color: var(--themeColor);
  transition: all ease 0.3s;
}
.logo {
  color: var(--contentColor);
  cursor: pointer;
}
.nav {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  align-items: center;
}
#settings,
#reset {
  width: 25px;
  object-fit: contain;
  filter: invert(100%);
}
.navElements {
  display: flex;
  gap: 15px;
  align-items: center;
}
.navElements a,
.timeSelectTitle {
  color: var(--contentColor);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  transition: color 0.5s;
}
.navElements a:hover {
  color: var(--themeColor);
}

h3 {
  cursor: default;
}
.main {
  display: flex;
  gap: 50px;
  align-items: center;
}
#timerTxt {
  display: flex;
  font-size: 2.5rem;
  color: var(--contentColor);
  font-weight: bold;
  letter-spacing: 1px;
  align-items: center;
  justify-content: center;
  cursor: default;
}
.timeSelect {
  display: flex;
  align-items: center;
  padding: 20px 10px;
  flex-direction: column;
  justify-content: center;
  /* width: 300px; */
  gap: 7px;
}
.uncheck {
  outline: none;
  border: none;
  padding: 10px;
  font-size: 1.5rem;
  background-color: transparent;
  color: var(--contentColor);
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

#chooseTime {
  border-radius: 0;
  width: 60px;
  padding: 5px;
  font-size: 1.5rem;
  outline: none;
  text-align: center;
  border: none;
  background-color: transparent;
  color: white;
  font-weight: bold;
  border-bottom: 1px solid var(--contentColor);
}
.uncheck:hover {
  background-color: var(--themeColor);
}
.uncheck.check {
  background-color: var(--themeColor);
}
#chooseTime:hover {
  background-color: transparent;
}

#timeOkBtn {
  cursor: pointer;
  padding: 10px;
  font-weight: bold;
  background-color: transparent;
  color: var(--contentColor);
  outline: none;
  border: none;
  border-radius: 150px;
  font-size: 1.5rem;
  transition: background-color 0.3s, cursor 2s;
}
#timeOkBtn:hover {
  background-color: var(--themeColor);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.527);
}

.timeSelect h3 {
  color: var(--contentColor);

  margin-bottom: 10px;
  vertical-align: middle;
}
.main {
  display: flex;
  padding: 20px;
  justify-content: space-between;
}

/* Remove arrows from input box */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.timeSelect input::placeholder {
  font-size: 0.7rem;
  color: rgba(255, 255, 255, 0.591);
}

.options {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.options button {
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--contentColor);
  font-size: 1rem;
  padding: 10px;
  border-radius: 10px;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
  margin-bottom: 8px;
  font-weight: bold;
}
.options button:hover {
  background-color: var(--themeColor);
}
#textBox {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

#sourceTxt {
  cursor: default;
  display: flex;
  flex-wrap: wrap;
  height: 9rem;
  overflow: scroll;
  scroll-behavior: smooth;
}
#sourceTxt::-webkit-scrollbar {
  display: none;
}
#sourceTxt .word {
  color: var(--textColor);
  font-weight: 400;
  font-size: 1.5rem;
  /* border-radius: 5px; */
  border-bottom: solid transparent;
  margin: 5px;
}

img {
  cursor: pointer;
}
#userTxt {
  border: none;
  width: 0;
  height: 0;
}

#resultPage {
  position: fixed;
  top: 14%;
  bottom: 14%;
  left: 20%;
  right: 20%;
  z-index: 100;
  border-radius: 10px;
  background-color: var(--mainBackground);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding: 50px;
  display: none;
}

.animation1 {
  animation: popUp 0.3s ease forwards;
}
.animation2 {
  animation: popDown 0.3s ease forwards;
}

@keyframes popUp {
  from {
    transform: scale(0%);
  }
  to {
    transform: scale(100%);
  }
}
@keyframes popDown {
  from {
    transform: scale(100%);
  }
  to {
    transform: scale(0%);
  }
}
#transparentBox {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}
.resultValues {
  display: flex;
  flex-direction: column;
}
#resultPage h1 {
  align-self: center;
  color: var(--textColor);
  font-weight: bold;
  font-size: 4rem;
  margin-bottom: 20px;
}

.resultValues {
  color: red;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 40px;
}

.resultValues div {
  display: flex;
  gap: 100px;
  justify-content: space-between;
}
#resultOkBtn,
#TextBtn {
  align-self: center;
  margin-top: 15px;
  padding: 7px 14px;
  font-weight: 700;
  font-size: 1.4rem;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  background-color: var(--themeColor);
  color: var(--contentColor);
}
#customWordsBox {
  position: fixed;
  top: 14%;
  bottom: 14%;
  left: 15%;
  right: 15%;
  border-radius: 10px;
  background-color: var(--mainBackground);
  display: flex;
  flex-direction: column;
  padding: 50px;
  display: none;
  font-size: 1.5rem;
  color: var(--textColor);
  font-weight: bold;
  transition: all ease 1s;
}
.customWordsHeader {
  display: flex;
  justify-content: space-between;
}
.customWordsHeader img {
  filter: invert(50%);
}
#customWordsBox p {
  margin-bottom: 20px;
}
#customX_Btn {
  filter: invert(100%);
}
#customWords {
  font-weight: bold;
  height: 90%;
  background-color: transparent;
  color: var(--themeColor);
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  font-size: 1.5rem;
  resize: none;
}
#customWords::-webkit-scrollbar {
  display: none;
}
.dropdown {
  position: relative;
  /* display: inline-block; */
}

.dropdownBtns {
  width: max-content;
  display: none;
  position: absolute;
  right: 100%;
  top: 1%;
  background-color: var(--mainBackground);
  z-index: 1;
}

.dropdown:hover .dropdownBtns {
  display: flex;
  flex-direction: column;
}
.cursor {
  border-left: 1.5px solid var(--textColor);
  animation: cursorAnimation 0.7s;
  animation-iteration-count: infinite;
}
@keyframes cursorAnimation {
  from {
    border-left: 2px solid transparent;
  }
  to {
    border-left: 2px solid var(--textColor);
  }
}
